#GEDTable{
    margin-left: 20px;
    display: none;
}

.table_title{

}

#optionalSubjects{
    border: 0px;
    font-size: 14px;
    color: #7d7d7b;
    font-weight: bold;
}

.subjectName{
    font-weight: bold;
}

#td_option{
    width: 70px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    background: #fbfbfa;
    color: #7d7d7b;
    border-bottom: 1px solid #ebebea;
}

#td_title{
    width: 70px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background: #fbfbfa;
    color: #7d7d7b;
    border-bottom: 1px solid #ebebea;
}

#td_content{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: 14px;
    border-bottom: 1px solid #ebebea;
}