#attendTitle{
    margin: 0px;
    padding-bottom: 10px;
}

.attendDiv{
    padding-left: 20px;
    margin-top: 10px;
}

.UnauthorizedDayInput{
    margin: 0px;
    padding-top: 10px;
    line-height: 2.5;
    font-size: 19px;
}

.dayInput{
    margin-left: 6px; 
    width: 50px;
    font-size: 18px;
}

.attendTable{
    margin-top: 20px;
}

.td_content{
    width: 150px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    font-size: 14px;
    border-bottom: 1px solid #ebebea;
}

.td_title{
    width: 150px;
    font-size: 14px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    background: #fbfbfa;
    color: #7d7d7b;
    border-bottom: 1px solid #ebebea;
}