#attendTitle{
    margin: 0px;
    padding-bottom: 10px;
}

.attendDiv{
    padding-left: 20px;
    margin-top: 10px;
}

.UnauthorizedDayInput{
    margin: 0px;
    padding-top: 10px;
    line-height: 2.5;
    font-size: 19px;
}

.dayInput{
    margin-left: 6px; 
    width: 50px;
    font-size: 18px;
}