<html>
    <head>
        <meta charset="utf-8">
        <title>개인정보입력</title>
        <link rel="stylesheet" href="Input2.css">
        <script src="Input2.js"></script>
    </head>
    <body>
        <div id="frame">
            <div id="sidemenu"></div>
            <div id="title">
                <h1>인적사항</h1>
            </div>
            <div id="contents">
                <div id="area_photo">
                    <input type="file" id="attachfile" onchange="previewFile()"></input>
                    <img src="file.png" id="IDPhoto"></img>
                    <!--Icon made by [Interaction Assets] from www.flaticon.com -->
                </div>
                <div id="area_info1">
                    성명: 
                    <input type="text" id="name" class="c1" readonly></input><br>
                    성별: 
                    <button id="btn_male" class="c1" onclick="Male()">남</button>
                    <button id="btn_female" class="c1" onclick="Female()">여</button><br>
                    <input type="text" id="grade" maxlength="1"></input> 학년
                    <input type="text" id="class" class="c1" maxlength="2"></input> 반
                    <input type="text" id="number" class="c1" maxlength="2"></input> 번<br>
                    보호자명: 
                    <input type="text" id="parents_name" class="c1"></input><br>
                    중학교코드:
                    <input type="text" id="schoolcode" class="c1"></input>
                    <button id="btn_findschool">학교찾기</button> <br>
                    중학교명:
                    <input type="text" id="schoolname" class="c1"></input><br>
                </div>
                <div id="area_info2">
                    본인휴대폰번호:
                    <input type="text" id="my_phonenum" class="c2"></input>
                    보호자휴대폰번호:
                    <input type="text" id="parents_phonenum" class="c2"></input><br>
                    이메일:
                    <input type="text" id="mail_address" class="c2" readonly></input>
                    <br>
                    생년월일: 
                    <input type="text" id="year" class="c2" maxlength="4"></input> 년
                    <input type="text" id="month" class="c2" maxlength="2"></input> 월
                    <input type="text" id="day" class="c2" maxlength="2"></input> 일
                    <br>
                    주소:
                    <input type="text" id="basic_address" class="c2"></input>
                    <button id="btn_findaddress">주소찾기</button> <br>
                    <input type="text" id="detail_address"></input>
                </div>
                <button id="nextpage">성적입력 ></button>
            </div>
            <div id="footer"></div>
        </div>
    </body>
</html>