@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body{
    background-color: #f4f4f4;
}

#logoImg{
    width: 256px;
    margin: 1rem 0 0 2rem;
}

#apply-condition{
    margin: 0 auto;
    width: 95%;
}

#apply-condition h2,#notice-table h2{
    font-size: 3rem;
    font-family: 'Nanum Gothic';
    font-weight: normal;
    margin: 1.5rem 0;
    padding: 0 0 0 0.25rem;
}

#apply-condition table{
    border-collapse: collapse;
    font-family: 'Noto Sans KR';
    box-shadow: 0rem 0.25rem #d5d5d5;
}

#apply-condition td{
    border: 0.1px solid #555;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    text-align: center;
}

#apply-condition thead td{
    background: rgba(44, 181, 115, 1);
    color: #fff;
}

#apply-condition table{
    width: 100%;
}

#apply-condition tbody td{
    font-size: 2rem;
    text-align: center;
    background-color: #fff;
}

#apply-condition tbody td:last-child{
    padding: 0;
    margin: 0;
}

#apply-condition tbody td button{
    margin: 0;
    font-size: 1.5rem;
    width: 80%;
    height: 4rem;
    border-style: none;
    border-bottom: 0.5rem solid #d5d5d5;
    border-right: 0.2rem solid #d5d5d5;
    font-weight: bold;
    background-color: #fcfcfc;
}

#apply-condition tbody td button:active{
    background-color: #fff;
    color: #555;
    border-bottom : 0.2rem solid #d5d5d5;
}

#notice-table{
    margin: 0 auto;
    width: 95%;
}

#notice-table table{
    width: 100%;
    border-collapse: collapse;
}

#notice-table table td{
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border: 0.1px solid #555;
    background-color: #fff;
}

#notice-table thead td{
    font-size: 1.3rem;
    background: rgba(44, 181, 115, 1);
    color: #fff;
}

#notice-table tbody{
    display: inline-block;
    height: 10rem;
    width: 100%;
    overflow-y: scroll;
}

#notice-table tbody tr{
    width: 100%;
}


#notice-table td:nth-child(1){
    width: 10%;
}

#notice-table td:nth-child(2){
    width: 65%;
}

#notice-table td:nth-child(3){
    width: 15%;
}

#notice-table td:nth-child(4){
    width: 10%;
}
