#contents{
    width: calc(100% - 270px);
    padding: 15px 0px 0px 15px;
    float: left;
}

#volunteerAttendWrapper{
    margin-top: 10px;
    margin-left: 20px;
}

.nextBtn{
    border: 0.5px;
    background:linear-gradient(to right, rgba(44,181,115,0.85), rgba(51,204,231,0.85));
    width: 188px;
    height: 50px;
    font-size: 13px;
    color: white;
    margin: 20px;
}

.nextBtn:hover{
    cursor: pointer;
}