h4{
    text-align: right;
    font-size: 20px;
    line-height: 70%;
}
#main{
    border: 3px solid black;
    width: 16cm;
    height: 25cm;
    margin: auto;
}
#table{
    width: 14cm;
    margin: auto;
    text-align: center;
    border: 4px solid black;
    border-collapse: collapse;
}
#text{
    margin: auto; 
    line-height: 145%; 
    width: 14cm; 
    letter-spacing: 3px;
}
#text2{
    float: right;
    font-size: 24px;
    font-weight: bold;
}
    #text3{
    font-size: 27px;
    font-weight: bold;
    text-align: left;
}
#text4{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
#box{
    border: 1px dotted black;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 10px;
}
#box2{
    width: 20px;
    height: 70px;
}
#mainbox{
    margin: auto;
}

h1 {
    text-align: center;
}

.meisterCell {
    width: 3cm;
    height: 1.5cm;
}

.width3cm {
    width: 3cm;
}

.width1cm {
    width: 1cm;
}

h2 {
    text-align: center;
}

#table {
    border: 1px solid black;
}

#table tr, #table td, #table th {
    border: 1px solid black;
}

#mainbox {
    border: none;
}

h3 {
    font-size: 18.5px;
}