<html>

<head>
    <title>세션 테스트</title>
</head>

<body>
    <% if(key) {%>
        <%= key%>
            <a href="/">로그아웃</a>
            <% } else{%>
                <a href="/public/view1.html">회원가입</a>
                <%}%>
</body>

</html>