footer{
    width:100%;
    height:200px;
    background-color:#242729;
}
footer #Privacy{
    width:60%;
    height:100%;
    /*border:2px solid white;*/
    margin-left:15rem;
    transition:1.5s;
    padding-top:1rem;
    /* 반응형 할 시 trasition 값 줌.*/
}
#Privacy #Privacy_Main{
    color:floralwhite;
    font-size:0.9rem;
    word-spacing:1rem;
    letter-spacing: 0.5px;
    padding-top:1.15rem;
}
#Privacy .Privacy_Sub{
    color:floralwhite;
    font-size:0.8rem;
    line-height:1.5;
    word-spacing: 1.5px;
}