<html>
<head>
    <title>공지사항</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/common.js"></script>
</head>
<body>
    <div id="big-box">
        <div id="container">
            <div id="title">
                질문 등록
            </div>

            <div id="content-area">
                <h2>질문제목</h2>
                <input type="text" class="MainInput" placeholder="제목을 입력해주세요.">
                
                <h2>이메일(Email)</h2>
                <textarea type="text" class="MainInput" id="contentInput"></textarea>
                
                <div id="uploadButton">
                    <div id="uploadText">
                        완 료
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>