<html>
<head>
    <title>공지사항</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/common.js"></script>
</head>
<body>
    <div id="big-box">
        <div id="container">
            <div id="title">
                공지사항
            </div>
            <div id="top-area">
                <div class="search-area">
                    <input type="button" class="style-button" value="검색">
                    <input type="text" id="search-text">
                </div>
                
            </div>

            <div id="content-area">
                <div class="column-area">
                    <li>
                        <span class="article-number">번호</span>
                        <span class="article-title">제목</span>
                        <span class="article-writer">작성자</span>
                        <span class="article-date">작성일</span>
                    </li>
                </div>

                <div class="article-area">

                </div>
            </div>

        </div>

    </div>
</body>
</html>
