.gtInputDiv{
    padding-right: 30px;
    float: left;
}

.graduationDiv{
    display: inline-block;
}

.typeDiv{
    padding-top: 50px;
}

.optionalBtn{
    margin-left: 20px;
}

.inputPart{
    display: block;
}