body {
    background-color: #F4F4F4;
}
#title {
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    margin: 10 0 0 0;
    float: left;
    margin-bottom: 20px;
}

#container {
    width: 50rem;
    height: 40rem;
    margin: 0 auto;
}

#big-box {
    margin: 0 auto;
    width: 55rem;
    height: 40rem;
    background-color: white;
    border-radius: 7.5px;
    box-shadow: 0 0 3px darkgrey;
}

#content-area {
    width: 100%;
}

.column-area {
    width: 100%;
    font-size: 20px;

    margin: 0 auto;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: black;

    border-bottom: 1px solid #555;
    border-top: 1px solid black;
}

#content-area li {
    margin: 13px 0;
    float: none;
    list-style: none;
    position: relative;
    width:100%;
    height:15px;
    text-align: center;
}

#content-area li span {
    font-size: 15px;
    float: left;
}

.style-button {
    float: right;
    width: 10%;
    margin: 5 0;
    height: 2.25rem;
    box-sizing: border-box;
    border: 0;
    margin-left: 5px;

    background: linear-gradient(to right, rgba(44, 181, 115, 0.85), rgba(51, 204, 231, 0.85));
    box-shadow: 0 0 5px darkgrey;
    display: table;

    color: white;
    cursor: pointer;
}

#write-button {
    margin-top: 10px;
    width: 12%;
}


/* 하단 스펙 */

#content-area h2 {
    font-size: 0.8rem;
    font-family: 'Noto Sans KR';
    font-weight: normal;
    letter-spacing: 2px;
    color: #272727;
    padding-top: 1rem;
}

#content-area .MainInput {
    box-shadow: 0 0 4px darkgray inset;
    border-radius: 3px;
    display: block;
    width: 100%;
    height: 2.25rem;
    margin-top: 0.5rem;
    margin-left: -2.5px;
    padding-left: 5px;
    letter-spacing: 2px;
    font-size: 0.75rem;
    
    box-sizing: border-box;
    border: 0;
}

#content-area a {
    padding-left: 5.2rem;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: 'Montserrat';
    font-size: 0.7rem;
    font-weight: bold;
    color: #3157E1;
}

#uploadButton {
    width: 15%;
    height: 3.1rem;
    margin: 0 auto;
    background: linear-gradient(to right, rgba(44, 181, 115, 0.85), rgba(51, 204, 231, 0.85));
    border-radius: 6px;
    margin-top: 1rem;
    margin-left: -3.5px;
    box-shadow: 0 0 5px darkgray;
    display: table;
    float: right;
}

#uploadButton #uploadText {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    font-weight: bolder;
    letter-spacing: 2.5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 1s;
}

#contentInput {
    height: 22.25rem !important;
    font-size: 1.0rem !important;
}