<!DOCTYPE html>
<html>

<head>
    <title>Login Main-Form</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <link href="/MainForm.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="LogoPart">
        <img src="/ImageFiles/DSM Logo.png" style="width:100%;">
    </div>
    <h1>Sign-In Page</h1>
    <form action="/admin/signin" method="POST">
        <div id="LoginBox">
            <div id="LoginForm">

                <h2>아이디(ID)</h2>
                <input type="text" name="id" class="MainInput" placeholder="이메일을 입력해주세요.">

                <h2>비밀번호(Password) <a href="../입학전형 비밀번호 변경_전 페이지/ChangeFile/SendInfo.html">Forgot Password?</a></h2>
                <input type="password" name="password" class="MainInput" placeholder="비밀번호를 입력해주세요.">

                <div id="LoginButton">
                    <div id="LoginText">
                        <input type="submit" value="Sign in">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--
        <div id="FooterBox">
            
        </div>
-->
</body>

</html>