            @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
            * {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                border: 0;
                vertical-align: baseline;
                outline: none;
                /*                overflow-x: hidden;*/
                font-family: sans-serif;
            }
            
            body {
                width: 100%;
                height: 100%;
                margin: 0 auto;
                background-color: #F4F4F4;
                min-width: 828px;
            }
            
            #LogoPart {
                width: 200px;
                height: 90px;
                margin: 0 auto;
                margin-top: 2.75rem;
            }
            
            h1 {
                text-align: center;
                letter-spacing: 4px;
                text-transform: uppercase;
                font-family: 'Montserrat';
                color: #505050;
                margin-top: 2rem;
            }
            
            #LoginBox {
                width: 40rem;
                height: 20rem;
                background-color: white;
                margin: 0 auto;
                margin-top: 2rem;
                border-radius: 7.5px;
                box-shadow: 0 0 3px darkgray;
            }
            
            #LoginSubBox {
                width: 40rem;
                height: 5rem;
                background-color: white;
                margin: 0 auto;
                border-radius: 7.5px;
                margin-top: 1rem;
                box-shadow: 0 0 3px darkgray;
            }
            
            #FooterBox {
                width: 40.2rem;
                height: 2.5rem;
                background-color: rgba(0, 0, 0, 0.8);
                margin: 0 auto;
                margin-top: 0.5rem;
                border-radius: 4px;
            }
            
            #LoginBox #LoginForm {
                width: 87.5%;
                height: 100%;
                margin: 0 auto;
                padding-top: 0.75rem;
                /*
                border-left:1px solid #e6e6e6;
                border-right:1px solid #e6e6e6;
*/
            }
            
            #LoginForm h2 {
                font-size: 0.8rem;
                font-family: 'Noto Sans KR';
                font-weight: normal;
                letter-spacing: 2px;
                color: #272727;
                padding-top: 1.75rem;
            }
            
            #LoginForm .MainInput {
                box-shadow: 0 0 4px darkgray inset;
                border-radius: 3px;
                display: block;
                width: 65%;
                height: 2.25rem;
                margin-top: 0.5rem;
                margin-left: -2.5px;
                padding-left: 5px;
                letter-spacing: 2px;
                font-size: 0.75rem;
            }
            
            #LoginForm a {
                padding-left: 5.5rem;
                text-decoration: none;
                letter-spacing: 2px;
                font-family: 'Montserrat';
                font-size: 0.7rem;
                font-weight: bold;
                color: #3157E1;
            }
            
            #LoginButton {
                width: 100%;
                height: 3.1rem;
                margin: 0 auto;
                background: linear-gradient(to right, rgba(44, 181, 115, 0.85), rgba(51, 204, 231, 0.85));
                border-radius: 6px;
                margin-top: 2rem;
                margin-left: -3.5px;
                box-shadow: 0 0 5px darkgray;
                display: table;
            }
            
            input[type=submit] {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                color: white;
                font-family: 'Montserrat';
                font-weight: bolder;
                letter-spacing: 2.5px;
                font-size: 1.1rem;
                cursor: pointer;
                transition: 1s;
            }
            
            #LoginButton #LoginText:hover {
                letter-spacing: 7.5px;
            }
            
            h3 {
                color: #424242;
                font-family: 'Noto Sans KR';
                font-weight: normal;
                text-align: center;
                font-size: 0.8rem;
                letter-spacing: 1px;
                padding-top: 1.2rem;
            }
            
            #LoginSubBox a {
                font-size: 0.77rem;
                letter-spacing: 0.5px;
                text-decoration: none;
                display: block;
                text-align: center;
                margin-top: 5px;
                color: #3571EB;
                font-weight: bold;
            }
            
            a:hover {
                text-decoration: underline !important;
            }