#divFirst{
    width: 900px;
    padding: 30px;
    margin-top: 100px;
}

#table{
    border-collapse: collapse;
}

.td_title{
    width: 200px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background: #fbfbfa;
    color: #7d7d7b;
    border-bottom: 1px solid #ebebea;
}

.td_content{
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: 14px;
    border-bottom: 1px solid #ebebea;
}

.td_space{
    width: 150px;
    padding: 4px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #ebebea;
    border-top: 1px solid #c4daff;
}

.btn_style {
    background-color: #c4daff;
    border:none;
    padding-left: 14px;
    padding-right: 14px;
}

#btn_findschool{
    padding-top: 4px;
    padding-bottom: 5px;
}

.input_style{
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

#year{
    width: 50px;
    margin-right: 1%;
}

#month{
    width: 30px;
    margin-right: 1%;
}

#day{
    width: 30px;
    margin-right: 1%;
}

#grade{
    width: 30px;
    margin-right: 1%;
}

#class{
    width: 30px;
    margin-right: 1%;
}

#school_name{
    width: 180px;
}

#base_address{
    width: 500px;
    float:left;
}

#detail_address{
    width: 603px;
    margin-top: 10px;
}

#tr_address {
    border-bottom: 2px solid #c4daff;
}

#tr_name{
    border-top: 2px solid #c4daff;
}

#nextBtn{
    border: 0.5px;
    background:linear-gradient(to right, rgba(44,181,115,0.85), rgba(51,204,231,0.85));
    width: 188px ;
    height: 50px;
    font-size: 13px;
    color: white;
    margin-top: 20px;
    
}

#nextBtn:hover{
    cursor: pointer;
}
