.InputTitle{
    margin-left: 10px;
}

input[type=text]::-ms-clear {
    display: none;
}

.generalInput{
    margin: 15px 0px 15px 0px;
}

.inputContent{
    float: left;
    width: calc(100% - 270px);
    padding-left: 20px;
    padding-top: 20px;
}