#table_addr{
    border-collapse: collapse;
}

#th_addr_road{
    background-color: #fbfbfa;
    text-align: center;
    padding: 10px;
    width: 600px;
}

#th_addr_zip{
    background-color: #fbfbfa;
    text-align: center;
    padding: 10px;
    width: 150px;
}

.road_address{
    border-bottom:1px solid #c4daff;
    padding: 8px;
    width: 600px;
    font-size: 14px;

}

.road_address:hover{
    color: blue;
    cursor: pointer;
}

.zipNo{
    border-bottom:1px solid #c4daff;
    padding: 8px;
    width: 150px;
    font-size: 14px;
    text-align: center;
}

/* #data_roadAddr{
    color: black;
}

#data_roadAddr:hover{
    color: blue;
} */
