#modalPage{
    margin-top: 20px;
}

.btn_modalnext{
    border:none;
    font-size: 14px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    background:none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;    
}

.btn_modalnext:hover{
    cursor:pointer;
    background-color: #c4daff;
    border-radius: 20px;
    text-decoration: underline;
}