#pw-complete-box #CheckedBox, #signup-complete-box #CheckedBox{
    width:40rem;
    height:22.5rem;
    background-color:white;
    margin:0 auto;
    margin-top:11rem;
    border-radius:7.5px;
    box-shadow: 0 0 5px darkgray;
}

#pw-complete-box #CheckedBox #TextBox, #signup-complete-box #CheckedBox #TextBox{
    width:100%;
    height:70%;
    background-color:#38CDB1;
    border-radius: 7.5px 7.5px 0 0;
    font-size:0;
}

#pw-complete-box #TextBox #MainTextBox, #signup-complete-box #TextBox #MainTextBox{
    width:70%;
    height:100%;
    display: inline-block;
}

#pw-complete-box #TextBox #ImageBox, #signup-complete-box #TextBox #ImageBox{
    width:30%;
    height:100%;
    display:inline-block;
}

#pw-complete-box h1, #signup-complete-box h1{
    font-size:1.75rem;
    font-family:'Noto Sans KR';
    font-weight:normal;
    color:white;
    letter-spacing: 2px;
    padding-left:2.5rem;
    padding-top:3.5rem;
}

#pw-complete-box h2, #signup-complete-box h2{
    font-size:0.9rem;
    font-family:'Noto Sans KR';
    color:white;
    font-weight:normal;
    letter-spacing: 2px;
    padding-left:2.5rem;
    padding-top:1rem;
}

#pw-complete-box #TextBox #ImageBox #CheckImage, #signup-complete-box #TextBox #ImageBox #CheckImage{
    width:7rem;
    position:relative;
    top:0.5rem;
    left:0.75rem;
}

#pw-complete-box #SubBox, #signup-complete-box #SubBox{
    width:100%;
    height:30%;
    background-color:#ECF0F1;
    border-radius: 0 0 7.5px 7.5px;
}


