.modal_style {
    padding: 0;
    height: 360px;
    margin-top: 8%;
}

#btn_emailcertify {
    background-color: #c4daff;
    border:none;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    top: -8.1rem;
    left: 28rem;
}

#btn_ok {
    background: #38CDB1;
    border: none;
    padding: 1% 3% 1% 3%;
    border-radius: 5px;
    color: white;
    float: right;
    position: relative;
    top: -3rem;
    right: 1rem;
}

#btn_ok:hover {
    cursor: pointer;
}