#table_school{
    border-collapse: collapse;
}


#title_schooltable{
    background-color: #fbfbfa;
}

#title_goverment{
    background-color: #fbfbfa;
    text-align: center;
    padding: 10px;
    width: 300px;
    padding: 10px;
}

#title_school_title{
    background-color: #fbfbfa;
    text-align: center;
    padding: 10px;
    width: 300px;
    padding: 10px;
}

#title_school_code{
    background-color: #fbfbfa;
    text-align: center;
    padding: 10px;
    width: 150px;
}

.td_goverment{
    border-bottom:1px solid #c4daff;
    padding: 8px;
    width: 300px;
    font-size: 14px;
}

.td_school_name{
    border-bottom:1px solid #c4daff;
    padding: 8px;
    width: 300px;
    font-size: 14px;
}

.td_school_code{
    border-bottom:1px solid #c4daff;
    padding: 8px;
    width: 150px;
    font-size: 14px;
    text-align: center;
}