footer{
    width:100%;
    height:200px;
    background-color:#242729;
}

footer #Privacy{
    width:60%;
    margin-left:15rem;
    padding-top:1rem;
}

#Privacy #Privacy_Sub{
    color:floralwhite !important;
    font-size:0.85rem;
    line-height:1.5;
    word-spacing: 1.5px;
    margin-top:-0.4rem !important;
}