#login-form h1, #send-info h1{
    text-align: center;
    letter-spacing:4px;
    text-transform: uppercase;
    font-family:'Montserrat';
    color:#505050;
    margin-top:2rem;
}

#send-info h1{
    padding-left:1rem;
}