#contents{
    width: calc(100% - 270px);
    padding: 15px 0px 0px 15px;
    float: left;
}

#volunteerAttendWrapper{
    margin-top: 10px;
    margin-left: 20px;
}

#move{
    text-align: center;
}

#grade_input_table{
    width: 1100px;
    padding-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    border-collapse: collapse;
}

.grade_table_title{
    font-size: 18px;
    font-weight: bold;
    padding-left: 3px;
    padding-bottom: 3px;
}

.grade_td_title{
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    background: #fbfbfa;
    color: #7d7d7b;
    border-bottom: 1px solid #ebebea;
}

.grade_td_content{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 14px;
    border-bottom: 1px solid #ebebea;
}

.subject{
    width: 50px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background: #fbfbfa;
    color: #7d7d7b;
    border-bottom: 1px solid #ebebea;
}

.std_grade{
    text-align: center;
}

.check_box{
    text-align: center;
}

.btn_group_child{
    display: inline-block;
    border-radius: 100%;
    width: 25px;
    line-height: 1.6;
    text-align: center;
    cursor: pointer;
}

.btn_group_child:hover{
    border-radius: 100%;
    background-color: #d3d3d3;
    transition:0.5s;
    transition-timing-function:linear;
}

.not_pass_title{
    width: 128px;
    text-align: left;
}

.grade_table{
    border-top: 1px solid #c4daff;
    border-bottom: 1px solid #c4daff;
}

.is_pass_check{
    padding-top: 3px;
    font-size: 5px;
}

#did_not_pass td {
    background: #fbfbfa;
}
#did_semester td {
    background: #fbfbfa;
}
#did_semester td:first-of-type {
    background: transparent;
}

/*Graduated*/
.did_select_btn_child{
    display: inline-block;
    border-radius: 100%;
    width: 25px;
    line-height: 1.6;
    text-align: center;
    cursor: pointer;
}

.did_select_btn_child:hover{
    border-radius: 100%;
    background-color: #d3d3d3;
    transition:0.5s;
    transition-timing-function:linear;
}

.selectedGrade{
    border-radius: 100%;
    background-color: #a3a3a3 !important;
    transition:0.5s;
    transition-timing-function:linear;
}

.did_select_grade{
    text-align: center;
    border-bottom: 1px solid #ebebea;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.unFinTextArea {
    width: 32%;
    float: left;
    padding-top: 2px;
    font-size: 10px;
}

.unFinCheckArea {
    margin-left: 35%;
    width: 30px;
}

.switchArea {
    padding-left: 27%;
    margin-bottom: 5px;
}

.topColumn .unFinTextArea {
    width: 45%;
    float: left;
    text-align: right;
    padding-top: 2px;
    font-size: 10px;
}

.topColumn .unFinCheckArea {
    margin-left: 47%;
    width: 30px;
}

.topColumn.switchArea {
    padding-left: 20%;
}

.notpassedArea {
    background: #ebebea;
    transition: .1s;
    color: grey;
}

#did_table {
    display: table-row-group;
    font-size: 15px;

    /* no selection */
    -webkit-touch-callout: none;/* iOS Safari */
    -webkit-user-select: none;  /* Safari */
    -khtml-user-select: none;   /* Konqueror HTML */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
    user-select: none;          /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

/*Volunteer*/
#volunteer_div{
    width: 200px;
    margin-bottom: 20px;
}

#volunteer_title{
    width: 50px;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    background: #fbfbfa;
    color: #7d7d7b;
    border-bottom: 1px solid #ebebea;
}

#volunteer_content{
    width: 55px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 14px;
    border-bottom: 1px solid #ebebea;
}

#volunteer_input{
    width: 45px;
    font-size: 14px;
}

/*Attend*/
#attend_div{
    width: 300px;
}

#unauthorized_title{
    width: 130px;
}

#unauthorized_input{
    width: 45px;
    font-size: 14px;
}