#landing-page header{
    width:100%;
    height:750px;
    background: url(../images/TestBackground2.jpg);
    background-attachment:fixed;
    background-position:center;
    background-repeat: no-repeat;
}

#landing-page header #Header_Image_Cover{
    position:absolute;
    width:100%;
    height:750px;
    background:linear-gradient(to right bottom, rgba(44,181,115,0.85), rgba(51,204,231,0.85));
    -webkit-background:linear-gradient(to right bottom, rgba(44,181,115,0.85), rgba(51,204,231,0.85));
    -ms-background:linear-gradient(to right bottom, rgba(44,181,115,0.85), rgba(51,204,231,0.85));
    min-width:850px; /* 나중에 코드 중복 체크 */
}

#landing-page #Header_Image_Cover #LogoAndNav{
    width:100%;
    height:110px;
    overflow:hidden;
    margin-top:30px;
}

#landing-page #LogoAndNav #LogoImage{
    width:270px;
    height:70px;
    margin-left: 7rem;
    margin-top:1.5rem;
    overflow:hidden;
}

#landing-page #LogoAndNav #LogoImage #Logo{
    width:170px;
    display:block;
}

#landing-page #LogoAndNav #LogoImage #LogoTitle{
    font-size:0.65rem;
    text-align: left;
    color: white;
    font-family: 'Poiret One', cursive;
    font-weight:bold;
}

#landing-page #LogoAndNav #Header_Navigation{
    position:relative;
    width:380px;
    height:50px;
    float:right;
    bottom:4.5rem;
    right:7.5rem;
    overflow:hidden;
}

#landing-page #Header_Navigation ul li{
    float:left;
    color:white;
    padding-left:1.7rem;
    font-size:1.1rem;
    letter-spacing:0.75px;
    padding-top:1.075rem;
    overflow:hidden;
}

#landing-page #Header_Navigation ul li:hover{
    cursor:pointer;
    font-weight:bold;
}

#landing-page #Header_Image_Cover #Header_MainPart{
    width:85.675%;
    height:70%;
    margin:0 auto;
    font-size:0;
    overflow:hidden;
    margin-top:10px;
}

#landing-page #Header_MainPart #Title_Part{
    width:50%;
    height:100%;
    display:inline-block;
}

#landing-page #Title_Part #Main_Title{
    font-size:2.2rem;
    color:white;
    font-family: 'Montserrat';
    letter-spacing:3px;
    line-height:1.5;
    padding-top:7.5rem;
}

#landing-page #Title_Part #Main_UnderLine{
    width:7.5rem;
    height:2.25px;
    margin-top:0.65rem;
    background-color:white;
}

#landing-page #Title_Part #Sub_Title{
    font-size:0.9rem;
    color:white;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 2px;
    padding-top:1.5rem;
    line-height:1.75;
}

#landing-page #Title_Part #ToMainBox{
    width:10rem;
    height:2.75rem;
    border:2px solid white;
    border-radius: 2px;
    margin-top:1.75rem;
    text-align: center;
    font-size:0.85rem;
    color:white;
    text-transform: uppercase;
    font-family:'Montserrat';
    font-weight:bold;
    letter-spacing: 3px;
    padding-top:0.75rem;

    animation-name : boxAnimation;
    animation-duration:0.5s;
    animation-iteration-count: 4;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#landing-page #Title_Part #ToMainBox:hover{
    cursor:pointer;
}

/* 메인 박스 애니메이션 적용*/
@keyframes boxAnimation{
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(0.9);
    }
    100%{
        transform:scale(1);
    }
}

#landing-page #Header_MainPart #White_OpacityBox{
    width:50%;
    height:100%;
    display:inline-block;
    background-color: #83DAD0;
}

#landing-page #White_OpacityBox #WhiteBox_Title{
    font-size:2rem;
    color:white;
    text-align: center;
    font-family: 'Montserrat';
    letter-spacing: 3px;
    padding-top: 5rem;
}

#landing-page #White_OpacityBox #BoxesCover{
    width:90%;
    height:60%;
    margin:0 auto;
    margin-top:2rem;
}

#landing-page #BoxesCover .FourBoxes{
    width:49.75%;
    height:49.5%;
    float:left;
    background-color: rgba(255,255,255,0.9);
    margin:0.105%;
    transition:1.2s;
}

#landing-page .FourBoxes .MainNumbers{
    font-size:2.5rem;
    color:#66BEB4;
    text-align: center;
    font-family:'Noto Sans KR', sans-serif;
    font-weight:lighter;
    letter-spacing:7.5px;
    padding-top:1.875rem;
}

#landing-page .FourBoxes .NumbersExplain{
    font-size:0.8rem;
    color:#66BEB4;
    font-family:'Montserrat';
    font-weight:bold;
    letter-spacing:4px;
    text-align: center;
    padding-top:0.5rem;
}

#landing-page .FourBoxes:hover{
    cursor:default;
    background-color: #69c4b9 !important;
}

#landing-page .FourBoxes:hover .MainNumbers,
#landing-page .FourBoxes:hover .NumbersExplain{
    color:white;
}

#landing-page .FourBoxes:hover .NumbersExplain{
    font-size:1.1rem;
    overflow:hidden;
}

a{
    text-decoration: none;
}