@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/*LandingIndex*/
#landing-page * {
    /* 공통 */
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: none;
    overflow-x: auto;
    font-family: sans-serif;
}

#landing-page{
    width:100%;
    height:auto;
    margin:0 auto;
    min-width:850px;
    position:relative;
}

/*HeaderView*/
#landing-page header{
    width:100%;
    height:750px;
    background: url(../images/TestBackground2.jpg);
    background-attachment:fixed;
    background-position:center;
    background-repeat: no-repeat;
}

#landing-page header #Header_Image_Cover{
    position:absolute;
    width:100%;
    height:750px;
    background:linear-gradient(to right bottom, rgba(44,181,115,0.85), rgba(51,204,231,0.85));
    -webkit-background:linear-gradient(to right bottom, rgba(44,181,115,0.85), rgba(51,204,231,0.85));
    -ms-background:linear-gradient(to right bottom, rgba(44,181,115,0.85), rgba(51,204,231,0.85));
    min-width:850px; /* 나중에 코드 중복 체크 */
}

#landing-page #Header_Image_Cover #LogoAndNav{
    width:100%;
    height:110px;
    overflow:hidden;
    margin-top:30px;
}

#landing-page #LogoAndNav #LogoImage{
    width:270px;
    height:70px;
    margin-left: 7rem;
    margin-top:1.5rem;
    overflow:hidden;
}

#landing-page #LogoAndNav #LogoImage #Logo{
    width:170px;
    display:block;
}

#landing-page #LogoAndNav #LogoImage #LogoTitle{
    font-size:0.65rem;
    text-align: left;
    color: white;
    font-family: 'Poiret One', cursive;
    font-weight:bold;
}

#landing-page #LogoAndNav #Header_Navigation{
    position:relative;
    width:380px;
    height:50px;
    float:right;
    bottom:4.5rem;
    right:7.5rem;
    overflow:hidden;
}

#landing-page #Header_Navigation ul li{
    float:left;
    color:white;
    padding-left:1.8rem;
    font-size:1.1rem;
    letter-spacing:0.75px;
    padding-top:1.075rem;
    overflow:hidden;
    position:relative;
    left:4.7rem;
}

#landing-page #Header_Navigation ul li:hover{
    cursor:pointer;
    font-weight:bold;
}

#landing-page ul li a{
    color:white;
}

#landing-page #Header_Image_Cover #Header_MainPart{
    width:85.675%;
    height:70%;
    margin:0 auto;
    font-size:0;
    overflow:hidden;
    margin-top:10px;
}

#landing-page #Header_MainPart #Title_Part{
    width:50%;
    height:100%;
    display:inline-block;
}

#landing-page #Title_Part #Main_Title{
    font-size:2.2rem;
    color:white;
    font-family: 'Montserrat';
    letter-spacing:3px;
    line-height:1.5;
    padding-top:7.5rem;
}

#landing-page #Title_Part #Main_UnderLine{
    width:7.5rem;
    height:2.25px;
    margin-top:0.65rem;
    background-color:white;
}

#landing-page #Title_Part #Sub_Title{
    font-size:0.9rem;
    color:white;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 2px;
    padding-top:1.5rem;
    line-height:1.75;
}

#landing-page #Title_Part #ToMainBox{
    width:10rem;
    height:2.75rem;
    border:1px solid white;
    margin-top:1.75rem;
    text-align: center;
    font-size:0.85rem;
    color:white;
    text-transform: uppercase;
    font-family:'Montserrat';
    font-weight:bold;
    letter-spacing: 3px;
    padding-top:0.775rem;
    transition:1.2s;
}

#landing-page #Title_Part #ToMainBox:hover{
    cursor:pointer;
    letter-spacing: 5px;
}

#landing-page #Header_MainPart #White_OpacityBox{
    width:50%;
    height:100%;
    display:inline-block;
    background-color: #83DAD0;
}

#landing-page #White_OpacityBox #WhiteBox_Title{
    font-size:2rem;
    color:white;
    text-align: center;
    font-family: 'Montserrat';
    letter-spacing: 3px;
    padding-top: 5rem;
}

#landing-page #White_OpacityBox #BoxesCover{
    width:90%;
    height:60%;
    margin:0 auto;
    margin-top:2rem;
}

#landing-page #BoxesCover .FourBoxes{
    width:49.75%;
    height:49.5%;
    float:left;
    background-color: rgba(255,255,255,0.9);
    margin:0.105%;
    transition:1.2s;
}

#landing-page .FourBoxes .MainNumbers{
    font-size:2.5rem;
    color:#66BEB4;
    text-align: center;
    font-family:'Noto Sans KR', sans-serif;
    font-weight:lighter;
    letter-spacing:7.5px;
    padding-top:1.875rem;
}

#landing-page .FourBoxes .NumbersExplain{
    font-size:0.8rem;
    color:#66BEB4;
    font-family:'Montserrat';
    font-weight:bold;
    letter-spacing:4px;
    text-align: center;
    padding-top:0.5rem;
}

#landing-page .FourBoxes:hover{
    cursor:default;
    background-color: #69c4b9 !important;
}

#landing-page .FourBoxes:hover .MainNumbers,
#landing-page .FourBoxes:hover .NumbersExplain{
    color:white;
}

#landing-page .FourBoxes:hover .NumbersExplain{
    font-size:1.1rem;
    overflow:hidden;
}

a{
    text-decoration: none;
}

/* SimpleIntro */

#landing-page #FirstArticle{
    width:100%;
    height:530px;
    background-color:#E9F3FF;
}

#landing-page #FirstArticle #Article_Title{
    text-align: center;
    font-family:'Montserrat';
    font-weight:bold;
    font-size:2rem;
    letter-spacing: 2px;
    margin-top:5rem;
    text-transform: uppercase;
    color:#333;
}

#landing-page #FirstArticle #Article_Line{
    width:5rem;
    height:3.5px;
    background-color: #5B5b5B;
    margin:0 auto;
    margin-top:1rem;
}

#landing-page #FirstArticle #Article_Images_Cover{
    width:100%;
    height:340px;
    text-align: center;
    overflow:hidden;
}

#landing-page #Article_Images_Cover .Article_Images{
    width:18rem;
    height:18rem;
    display:inline-block;
    margin:1rem;
    margin-top:3rem;
}

#landing-page #Article_Images_Cover .ExImages{
    display:block;
    margin:0 auto;
    
}

#landing-page #Article_Images_Cover .ExImages:hover{
    animation: SideMove 0.5s forwards;
    -webkit-animation: SideMove 0.5s forwards;
    -ms-animation: SideMove 0.5s forwards;
}

@keyframes SideMove{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.7);
    }
    100%{
        transform: scale(1);
    }
}

#landing-page .Article_Images .Article_ImageTitle{
    color:#414141;
    font-family:'Montserrat';
    font-weight:bold;
    font-size:1.23rem;
    letter-spacing:4px;
    margin-top:1.25rem;
}

#landing-page .Article_Images .Article_Image_Explain{
    font-size:0.9rem;
    font-family: 'Noto Sans KR';
    color: #484848;
    margin-top:1rem;
    line-height:1.75;
    letter-spacing:0.5px;
}

/* MainIntro */
#landing-page #SecondArticle{
    width:100%;
    height:2150px;
} 

#landing-page #SecondArticle .Main_Explain_Boxes{
    width:100%;
    height:calc(100%/6);
    overflow:hidden;
}

#landing-page .Main_Explain_Boxes .Explain_Images{
    display: block;
    margin-left:17.5rem;
    margin-top:3.25rem;
}

#landing-page .Main_Explain_Boxes .Explain_Images2{
    display:block;
    margin-right:17.5rem;
    margin-top:3.25rem;
}

#landing-page #SecondArticle .Explain_Images_Main{
    position:relative;
    font-size:1.75rem;
    font-family: 'Montserrat';
    font-weight:bold;
    color:#414141;
    letter-spacing:2px;
}

#landing-page #SecondArticle .Explain_Images_Main2{
    font-size:1.75rem;
    font-family: 'Montserrat';
    font-weight:bold;
    color:#414141;
    letter-spacing: 3px;
}

#landing-page #SecondArticle .Explain_Images_Sub{
    position:relative;
    font-size:1.15rem;
    color:#414141;
    font-family:'Noto Sans KR';
    letter-spacing: 3px;
    overflow:hidden;
}

#landing-page #SecondArticle .Explain_Images_Sub2{
    position: relative;
    font-size:1.15rem;
    letter-spacing: 2px;
    font-family:'Noto Sans KR';
    color:#414141;
    line-height: 1.35;
    overflow: hidden;
}


/* Footer */
#landing-page footer{
    width:100%;
    height:200px;
    background-color:#242729;
}

#landing-page footer #Privacy{
    width:60%;
    height:100%;
    margin-left:15rem;
    padding-top:1rem;
}

#landing-page #Privacy #Privacy_Sub{
    color:floralwhite;
    font-size:0.85rem;
    line-height:1.5;
    word-spacing: 1.5px;
    margin-top:2rem;
}

/* Responsive Part */

@media all and (min-width:400px) {
    #landing-page #FirstArticle {
        height: 900px;
    }
    #landing-page #FirstArticle #Article_Images_Cover {
        height: 750px;
    }
    #landing-page #SecondArticle {
        height: 3000px;
    }
    #landing-page .Main_Explain_Boxes .Explain_Images,
    #landing-page .Main_Explain_Boxes .Explain_Images2 {
        margin: 0 auto;
        margin-top: 2rem;
    }
    #landing-page #SecondArticle .Explain_Images_Main,
    #landing-page #SecondArticle .Explain_Images_Sub {
        width: 100%;
        bottom: 0rem;
        margin: 0 auto;
        text-align: center;
        padding-top: 1rem;
        line-height: 1.5;
        margin-right: 4.1rem;
    }
    #landing-page #SecondArticle .Explain_Images_Main2,
    #landing-page #SecondArticle .Explain_Images_Sub2 {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        padding-top: 1.5rem;
        letter-spacing: 3px;
        line-height: 1.5;
    }
}

@media all and (min-width:1295.1px) {
    #landing-page #FirstArticle {
        height: 530px;
    }
    #landing-page #FirstArticle #Article_Images_Cover {
        height: 350px;
        overflow: hidden;
    }
    #landing-page #SecondArticle {
        height: 2150px;
    }
    #landing-page .Main_Explain_Boxes .Explain_Images {
        display: block;
        margin-left: 17.5rem;
        margin-top: 3.25rem;
    }
    #landing-page .Main_Explain_Boxes .Explain_Images2 {
        display: block;
        margin-right: 11rem;
        margin-top: 3.25rem;
    }
    #landing-page #SecondArticle .Explain_Images_Main {
        width: 55%;
        bottom: 14rem;
        padding-left: 8rem;
        line-height: 1.35;
        text-align: left;
    }
    #landing-page #SecondArticle .Explain_Images_Main2 {
        width: 60%;
        float: left;
        text-align: left;
        margin-top: -15rem;
        margin-left: 13.5rem;
    }
    #landing-page #SecondArticle .Explain_Images_Sub {
        width: 55%;
        bottom: 11rem;
        padding-left: 8rem;
        line-height: 1.5;
        text-align: left;
        margin-top: -1.25rem;
    }
    #landing-page #SecondArticle .Explain_Images_Sub2 {
        width: 60%;
        float: left;
        text-align: left;
        margin-top: -10rem;
        margin-left: 13.5rem;
    }
}