#login-form #LoginBox{
    width:40rem;
    height:22.5rem;
    background-color:white;
    margin:0 auto;
    margin-top:2rem;
    border-radius:7.5px;
    box-shadow: 0 0 3px darkgray;
}

#login-form #LoginBox{
     width:40rem;
     height:22.5rem;
     background-color:white;
     margin:0 auto;
     margin-top:2rem;
     border-radius:7.5px;
     box-shadow: 0 0 3px darkgray;
 }
 
 #login-form #LoginBox #LoginForm{
     width:87.5%;
     height:100%;
     margin:0 auto;
     padding-top:0.75rem;
 }
 
 #login-form #LoginForm h2{
     font-size:0.8rem;
     font-family:'Noto Sans KR';
     font-weight:normal;
     letter-spacing: 2px;
     color: #272727;
     padding-top:1rem;
 }
 
#login-form #LoginForm .MainInput{
     box-shadow: 0 0 4px darkgray inset;
     border-radius: 3px;
     display:block;
     width:65%;
     height: 2.25rem;
     margin-top:0.5rem;
     margin-left:-2.5px;
     padding-left:5px;
     letter-spacing: 2px;
     font-size:0.75rem;
 }
 
 #login-form #LoginBox a{
     padding-left: 5.5rem;
     text-decoration: none;
     letter-spacing: 2px;
     font-family: 'Montserrat';
     font-size: 0.7rem;
     font-weight: bold;
     color: #3157E1;
 }

 #login-form #LoginButton{
     width:100%;
     height:3.1rem;
     margin:0 auto;
     background: linear-gradient(to right, rgba(44,181,115,0.85), rgba(51,204,231,0.85));
     border-radius: 6px;
     margin-top:2rem;
     margin-left:-3.5px;
     box-shadow: 0 0 5px darkgray;
     display:table;
 }
 
 #login-form #LoginButton #LoginText{
     display:table-cell;
     vertical-align: middle;
     text-align: center;
     color:white;
     font-family:'Montserrat';
     font-weight:bold;
     letter-spacing:2.5px;
     font-size:1.1rem;
     cursor:pointer;
     transition:1s;
 }

 #login-form #LoginButton #LoginText:hover{
     letter-spacing: 5px;
 } 