#login-form #LoginSubBox{
    width:40rem;
    height:5rem;
    background-color:white;
    margin:0 auto;
    border-radius: 7.5px;
    margin-top: 1rem;
    box-shadow: 0 0 3px darkgray;
}

#login-form #LoginSubBox h3{
    color:#424242;
    font-family: 'Noto Sans KR';
    font-weight:normal;
    text-align: center;
    font-size:0.8rem;
    letter-spacing: 1px;
    padding-top:1.2rem;
}

#login-form #LoginSubBox a{
    font-size:0.77rem;
    letter-spacing: 0.5px;
    text-decoration:none;
    display: block;
    text-align: center;
    margin-top:5px;
    color:#3571EB;
    font-weight:bold;
}

#login-form a:hover{
    text-decoration: underline !important;
}