@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

#main2{
    width:100%;
    height:100%;
    margin:0 auto;
    position:relative;
}

#main2 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: none;
    overflow-x: hidden;
    font-family:'nanumsquare';
}

#main2 #headerCover{
    width:100%;
    height:3.5rem;
    background-color:#414140;
}

#main2 #mainLogo{
    display:block;
    margin:0 auto;
    width:6rem;
    margin-top:5px;
}

/* -- */

#main2 #sectionCover{
    width:100%;
    border-bottom:1px solid darkgray;
    height:43rem;
    font-size:0;
    text-align: center;
}

#main2 #sectionCover .sectionParts{
    display:inline-block;
    width:50%;
    height:100%;
}

#main2 #sectionCover .sectionParts:nth-of-type(2){
    background-color:#e9e9e9;
}

#main2 .sectionParts img{
    width:7rem;
}