footer{
    width:100%;
    height:170px;
    background-color:#414140;

    padding-left:5rem !important;
    padding-top:3rem !important;
    color:floralwhite;
    font-size:0.85rem;
    letter-spacing: 0.75px;
}