@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

#mypage{
    width:100%;
    height:100%;
    margin:0 auto;
    background-color: #eef2f5;
    position:relative;
}

#mypage *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: none;
    overflow-x: auto;
    font-family:'nanumsquare';
}

/* Header 부분 */

#mypage header{
    width:100%;
    height:5.5rem;
    background-color:#414143;
    overflow:hidden;
}

#mypage #pageTitle{
    margin-left:5rem;
    padding-top:1.85rem;

    color:white;
    font-family: 'nanumsquare';
    font-size:1.7rem;
    font-weight:bold;
    letter-spacing: 1px;
}

#mypage #logoCover{
    /* 로고와 텍스트를 감싸기 위한 용도 */
    position:absolute;
    top:0;
    right:4rem;
}

#mypage #logoCover #myLogo{
    width:9rem;
    
    padding-top:1.2rem;
    display:inline-block;
    vertical-align: top;
}

#mypage #logoCover #logoText{
    color:white;
    font-family:'Poiret One';
    font-size:0.56rem;
    font-weight:bold;
    padding-left:-2px;
}

/* 여기까지 */
/* section 시작 */

#mypage section{
    width:100%;
    height:auto;
}

#mypage section h1{
    color:#424242;
    font-family:'noto sans kr';
    letter-spacing: 2px;
    margin-left:4rem;
    margin-top:5rem;
    font-size:1.7rem;
    font-weight:500;
}

#mypage #checksCover{
    text-align: center;
}

#mypage #checksCover .checkFiles{
    display:inline-block;
    vertical-align: top;
    width:16rem;
    height:20rem;
    box-shadow:0 0 4px gray;
    margin:10px;
    margin-top:3rem;
    border-radius: 4px;
}

#mypage #checksCover .checkFiles:hover{
    cursor: pointer;
}

#mypage .checkFiles .checkTitles{
    color:#424242;
    line-height:1.5;
    margin-top:1.5rem;
    letter-spacing: 1px;
}

#mypage .checkFiles .mainImgs{
    display:block;
    margin: 0 auto;
    margin-top:1.8rem;
}

#mypage .checkFiles .checkImgs{
    display:block;
    width:2.2rem;
    margin:0 auto;
    margin-top:2rem;
}

/* 버튼 */
#mypage #checkBtn{
    width:10em;
    height:2.6rem;
    border:2.5px solid white;
    box-shadow:0 0 5px gray;
    border-radius: 50px;
    margin:0 auto;
    margin-top:3rem;
    background: linear-gradient(to right, #8b63aa, #595a85);
    cursor:pointer;
    display:table;
}

#mypage #checkBtn #checkBtnText{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: 'nanumsquare';
    color:#424242;
    font-size:0.9rem;
    letter-spacing: 1px;
    color:white;
}

#mypage footer{
    width:100%;
    height:170px;
    background-color:#242729;
    color:floralwhite;
    font-size:0.8rem;
    line-height: 1.8;
    margin-top:11rem;
    padding-top:1.6rem;
    overflow-y:hidden;
}

#mypage footer #Privacy{
    width:60%;
    margin-left:15rem;
    padding-top:1rem;
}

#mypage_check{
    margin-left: 4rem;
    margin-top: 20px;
}