@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

#mypage2{
    width:100%;
    height:100%;
    margin:0 auto;
    background-color: #eef2f5;
    position:relative;
}

#mypage2 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: none;
    overflow-x: auto;
    font-family:'nanumsquare';
}

/* Header 부분 */

#mypage2 header{
    width:100%;
    height:5.5rem;
    background-color:#414143;
    overflow:hidden;
}

#mypage2 #pageTitle{
    margin-left:5rem;
    padding-top:1.85rem;

    color:white;
    font-family: 'nanumsquare';
    font-size:1.7rem;
    font-weight:bold;
    letter-spacing: 1px;
}

#mypage2 #logoCover{
    /* 로고와 텍스트를 감싸기 위한 용도 */
    position:absolute;
    top:0;
    right:4rem;
}

#mypage2 #logoCover #myLogo{
    width:9rem;
    
    padding-top:1.2rem;
    display:inline-block;
    vertical-align: top;
}

#mypage2 #logoCover #logoText{
    color:white;
    font-family:'Poiret One';
    font-size:0.56rem;
    font-weight:bold;
    padding-left:-2px;
}

/* 여기까지 */
/* section 시작 */

#mypage2 section{
    width:100%;
    height:auto;
}

#mypage2 section h1{
    color:#424242;
    font-family:'noto sans kr';
    letter-spacing: 2px;
    margin-left:4rem;
    margin-top:2.2rem;
    font-size:1.6rem;
    font-weight:500;
}

#mypage2 #checksCover{
    text-align: center;
}

#mypage2 #checksCover .checkFiles{
    display:inline-block;
    vertical-align: top;
    width:17.2rem;
    height:20rem;
    box-shadow:0 0 4px gray;
    margin:10px;
    margin-top:1.5rem;
    border-radius: 4px;
}

#mypage2 .checkFiles .checkTitles{
    color:#424242;
    line-height:1.5;
    margin-top:1.5rem;
    letter-spacing: 1px;
}

#mypage2 .checkFiles .mainImgs{
    display:block;
    margin: 0 auto;
    margin-top:1.8rem;
}

#mypage2 .checkFiles .checkImgs{
    display:block;
    width:2.2rem;
    margin:0 auto;
    margin-top:2rem;
}

/* 버튼 */
#mypage2 #checkBtn{
    width:10em;
    height:2.6rem;
    border:2.5px solid white;
    box-shadow:0 0 5px gray;
    border-radius: 50px;
    margin:0 auto;
    margin-top:3rem;
    background: linear-gradient(to right, #8b63aa, #595a85);
    cursor:pointer;
    display:table;
}

#mypage2 #checkBtn #checkBtnText{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: 'nanumsquare';
    color:#424242;
    font-size:0.9rem;
    letter-spacing: 1px;
    color:white;
}

#mypage2 table{
    border-collapse: collapse;
    width:95%;
    margin:0 auto;
    text-align: center;
    margin-top:2.5rem;
    letter-spacing: 1px;
    color:#505050;
    font-size:0.9rem;
}

#mypage2 table *{
    vertical-align: middle;
}

#mypage2 table tr{
    height:3rem;
    border:1px solid #e3e3e3;
}

#mypage2 thead tr th:nth-child(1),
#mypage2 tbody tr td:nth-child(1){
    background-color:#38424c;
    color:white;
}

#mypage2 tbody td:hover,
#mypage2 thead tr th:hover{
    background-color:#38424c;
    color:white;
                
    cursor:default;
}

#mypage2 tbody tr td:nth-child(2):hover,
#mypage2 thead tr th:nth-child(2):hover{
    cursor:pointer;
    border-left:1px solid #e6e6e6;
}



@media all and (max-width : 27.2rem){
    #mypage2 #logoCover{
        display:none;
    }
}
/* section 끝 */
/* footer 부분 */
#mypage2 footer{
    width:100%;
    height:170px;
    background-color:#242729;
    color:floralwhite;
    font-size:0.8rem;
    line-height: 1.8;
    margin-top:5rem;
    padding-top:1.6rem;
    overflow-y:hidden;
}

#mypage2 footer #Privacy{
    width:60%;
    margin-left:15rem;
    padding-top:1rem;
}
