#preview .h4_style{
    margin-top: 10px;
    margin-bottom: 10px;
}

#preview #area {
    width: 750px;
    padding-left: 25px;
    margin-top: 40px;
}


#preview .tab {
    width: 62rem;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
#preview .tabButton {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;

    width: calc(100% / 5);
}

/* Change background color of buttons on hover */
#preview .tabButton:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
#preview .tabButton.active {
    background-color: #ccc;
}

/* Style the tab content */
#preview .tabcontent {
    padding: 6px 1rem;
    border: 1px solid #ccc;
    border-top: none;
    width: 60rem;
    height: 87rem;
    margin-bottom: 30px;
}

#preview #menu-area {
    padding-left: 8rem;
}

#preview #header-area {
    margin-left: -20px;
}

#preview .printButton {
    background-color: inherit;
    border: 1px solid grey;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    background-color: #ccc;

    width: 16rem;
    margin-left: 22rem;
    margin-bottom: 50px;
}

@media print {
  body * {
    visibility: hidden;
  }
  #preview .tabcontent, #preview .tabcontent * {
    visibility: visible;
  }
  #preview .tabcontent {
    position: absolute;
    left: 0;
    top: 0;
  }
  #preview .tabcontent {
    border: 0px;
  }
}

/*SelfIntroduce & StudyPlan*/
#selfintroduce{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

#studyplan {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

#introduce_header{
    display: table;
    width: 100%;
    height: 10%;
    font-size: 50px;
    font-weight: bold;
    text-align: center; 
}

#introduce_header #header{
    display: table-cell;
    vertical-align: middle;
}

#selfintroduce #userinfo{
    width: 100%;
    height: 7%;
}

#studyplan #userinfo {
    width: 100%;
    height: 7%;
}

#userinfo_table{
    width: 100%;
    height: 100%;
    font-size: 30px;
    border: 1px solid;
    border-collapse: collapse;
}

#userinfo_table .td_title{
    width: 20%;
    border: 1px solid;
    font-size: 25px;
    word-spacing: 60px;
    text-align: center;
}

#userinfo_table .td_content{
    width: 80%;
    border: 1px solid;
}

#introduce_content {
    height: 78%;
    margin-top: 2%;
}

#content_table {
    border:1px solid black;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    word-break: break-all;
}

#content_explain {
    border:1px solid black;
    height: 10%;
    word-spacing: 4px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    line-height: 160%;
}

#content_texts {
    border:1px solid black;
    height: 90%;
    padding: 2%;
    vertical-align: top;
    line-height: 190%;
}

#big_text {
    font-size: 20px;
    font-weight: bold;
}

/*No Smoke*/
#no_smoke{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

#smoke_header{
    width: 100%;
    height: 5%;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
}

#no_smoke #table_info {
    font-size: 18px;
}

#no_smoke #table_info tr td{
    border:1px solid black;
    text-align: center;
    padding: 1%;
}

#no_smoke #table_info{
    border-collapse: collapse;
}

#promise{
    width: 4%;
    font-weight: bold;
}

#table_info .table_input{
    width: 28%;
}

#table_info .table_title{
    width: 20%;
}

#table_info #address{
    text-align: left;
} 

#no_smoke #swear_content{
    width: 99.8%;
    height: 80%;
    border:1px solid black;
    border-top: none;
}

#swear_content #swear_text, #swear_my{
    padding: 60px;
    font-size: 19px;
    line-height: 60px;
}

#blank{
    letter-spacing: 100px;
}

#swear_content #swear_date{
    padding: 50px;
    text-align: center;
    font-size: 18px;
}

#swear_content #swear_sign {
    font-size: 18px;
    line-height: 50px;
    padding-left: 530px;
    padding-top: 80px;
    padding-bottom: 30px;
}

#space{
    letter-spacing: 120px;
}

/* Userinfo */
#userinfo{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 0px;
}
#header {
    display: table;
    width: 100%;
    height: 5%;
}
#title {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
}
#content {
    width: 100%;
    height: 60%;
    font-size: 0px;
}
#privacy {
    width: 100%;
    margin-top: 1%;
    border:1px solid black;
    text-align: center;
}
#privacy #title{
    font-size: 16px;
}
#privacy #content{
    width: 99%;
    height: 70%;
    border: solid 1px;
    font-size: 13px;    /* limit */
    word-break: break-all;
    line-height: 150%;
    padding: 5px;
}

#privacy #footer{
    width: 100%;
    height: 30%;
    font-size: 15px;
}

#privacy #footer p:nth-child(2) {
    position: relative;
    top: 10px;
    left: 800px;
    line-height: 150%;
}

#userinfo_footer {
    width: 100%;
    height: 5%;
}

#userinfo_footer p{
    font-size: 30px;
    font-weight: 1000;
}