#principal #principal {
    width: 746.800;
    height: 1453;
}

#principal #principal_box {
    width: 60rem;
    height: 87rem;
}

#principal #title_box {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 40px 0px;
}

#principal #content_box {
    width: 90%;
    height: 90%;

    border: 1px solid black;
    margin: 0px auto;
}

#principal #header_box {
    width: 32%;
    margin-left: 68%;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.8;

    font-size: 1.7rem;
}

#principal #type_box {
    width: 90%;
    height: 20%;
    font-size: 1.5rem;
    text-align: center;

    border: 1px solid black;
    border-collapse: collapse;
    margin: 0px auto;
}

#principal #circle {
    font-weight: bold;
}

#principal #type_box tr, #principal #type_box td {
    border: 1px solid black;
}

#principal #explain_box {
    width: 85%;
    line-height: 2.2;

    margin: 30px auto 0px auto;

    font-size: 1.77rem;
}

#principal #date_box {
    margin-top: 60px;
    margin-bottom: 60px;

    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
}

#principal #teacher_box {
    height: 10%;
    font-size: 1.8rem;
    font-weight: bold;

    margin-left: 40%;
}

#principal #teacher_name {
    float: left;
}

#principal #sign_box {
    float: right;
    margin-right: 10%;
}

#principal #principal_name {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 25%;
    z-index: 2;
    position: relative;
}

#principal #stamp_box {
    width: 9rem;
    height: 9rem;
    border: 1px dashed black;
    text-align: center;
    line-height: 4;

    font-size: 1.2rem;
    z-index: 1;
    position: relative;
    float: right;
    right: 70px;
    top: -90px;
}

#principal #footer {
    text-align: right;
    font-size: 2rem;
    font-weight: 900;

    margin-top: 10%;
}