input[type=text]::-ms-clear {
    display: none;
}

#signUp .generalInput{
    font-size: 15px;
}

#signUp .inputPart{
    width: 900px;
    padding: 20px;
}

#signUp .inputContent{
    float: left;
    padding: 15px 0px 15px 0px;
    width: calc(100% - 270px);
}

#signUp .emailInput{
    width: 80px;
}

#signUp .td_content{
    width: 280px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: 14px;
    border-bottom: 1px solid #ebebea;
}

#signUp .td_title{
    width: 150px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background: #fbfbfa;
    color: #7d7d7b;
    border-bottom: 1px solid #ebebea;
}

#signUp .input_style{
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 1%;
}

#signUp .emailSelect{
    border: solid 1px;
    height: 20px;
    margin-left: 10px;
    border-radius: 0%;
}

#signUp .nameInput{
    width: 60px;
}

#signUp #inputTable{
    padding-left: 20px;
    border-collapse: collapse;
    border-top: 2px solid #c4daff;
    border-bottom: 2px solid #c4daff;
}